*{
  margin: 0;
  padding:  0;
}

a{
  text-decoration: none;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

body{
  background:url("https://source.unsplash.com/random/1600x900/") no-repeat center/cover;
  font-family: sans-serif;

}